.CountryList{
  display: inline-block;
  width: 28%;
  height: 550px;
  overflow-y: scroll;
  text-align: left;
  padding: 0 40px;
  border: 2px solid #ccc;
    border-radius: 8px;
}
.countryInList{
  cursor: pointer;
  font-size: 20px;
  border: 2px solid #ccc;
  background-color: rgb(237, 243, 244);
  color: rgb(69, 63, 59);
  border-radius: 8px;
  margin: 3px;
  padding: 3px 10px;
}
.countryInList:active{
  background-color: rgb(218, 235, 215);
  margin-left: 30px;
}
