.Wrapper {
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 100;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
   font-size: 50px;
   color: #fff;
   font-weight: 600;
}
.textWrapper{
  margin: 0px;
}
.App-logo{
  width: 200px;
  height: 200px;
}
