.CountryInfo{
  display: inline-block;
  width: 60%;
  height: 500px;
  font-size: 20px;
  border: 2px solid #ccc;
  background-color: rgb(237, 243, 244);
  color: rgb(69, 63, 59);
  border-radius: 8px;
  margin: 3px;
  padding: 20px 20px;
  text-align: left;
}
.CountryInfo span {
  font-style: italic;
  color: rgb(112, 112, 112);
}
